/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

:global {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .dataGrid {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  div {
    text-align: center;
    height: 100%;
    width: 100%;
  }
}
